<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Connect to Last.fm</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section id="content">

  </section>

  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/linkAccountBundle.js"></script>
</body>
</html>
