<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Rewind.le | Music Guessing Game</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <h1 id="main-header">Welcome to <span class="site-title">Rewind.le</span></h1>
  <p>How well do you know your music?</p>
  <section id="content">

  </section>
  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
