<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Today's Rewind.le</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="notFound">
  <header>
    <nav id="mainNav">
      <a href="/settings" class="navButton" id="settingsButton">settings</a>
      <a href="/play" class="site-title">Rewind.le</a>
      <a href="/stats" class="navButton" id="statsButton">Stats</a>
    </nav>
  </header>

  <section id="content">
    <h1>Uh oh</h1>
    <p>Couldn't find that :(</p>
  </section>
</body>
</html>
