<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav>
      <button class="navButton" id="settingsButton">settings</button>
      <a href='/play' class="site-title">Rewind.le</a>
      <a href='/stats' class="navButton" id="statsButton">Stats</a>
    </nav>
  </header>

  <h1>User Stats</h1>

  <section id="allTimeStatsWrapper">
    
  </section>

  <section id="recentGames">
    <section id="searchBarWrapper">

    </section>
    <section id="gamesList">

    </section>
  </section>

  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>

  <script src="/assets/statsBundle.js"></script>
</body>
</html>
